p
  | This very website! I built this site on #{link_to 'Middleman', 'http://middlemanapp.com'}, 
  | using Slim, SCSS, and just a little bit of JavaScript. It uses 
  | #{link_to 'Bourbon, Neat, and Bitters', 'http://bourbon.io'} to make things look pretty.
