p
  | Wildwood Tavern hired me to build their website in 2015. The site is built on Middleman using Slim, 
  | SCSS, and #{link_to 'Vanilla JavaScript', 'http://youmightnotneedjquery.com/'}. It uses 
  | #{link_to 'jeet', 'http://jeet.gs'} for its grid system.
