@bg: #fff9f3;
// @base: #99ebff;
@headColor: #70dbff;
@bodyColor: #444;
@headFont: 'Oswald', sans-serif;
@bodyFont: 'Roboto Slab', serif;

body{
	background-color: @bg;
	color: @bodyColor;
	font-family: @bodyFont;
	font-weight: 300;
}

h1{
	color: @headColor;
	font-family: @headFont;
	font-weight: 700;
}

h2{
	font-family: @headFont;
	font-weight: 400;
	color: @headColor;
}