@import 'variables';
@import 'animations';

p {
  color: $dg;
  font-size: 2vw;
  font-weight: 700;
  line-height: 1.5em;
  @media(max-width: 767px) { font-size: 16px; }
}

.content {
  padding: 0 1em;

  a {
    @include copy_link;
  }

  abbr {
    animation: rotateBorderHue 6s infinite linear;
    &:hover{ cursor: help; }
  }
}

.me {
  animation: rotateBorderHue 6s infinite linear;
  border: 3px solid transparent;
  border-radius: 50%;
  display: inline;
  float: right;
  max-width: 40vw;
  shape-outside: inset(0 round 50%);
}

