@import 'variables';
@import 'animations';

.success-message {
  h1 { animation: rotateHue 3s infinite; font-size: 4em; }
  h3 { font-size: 2em; }

  @media(max-width: 426px) { margin: 0 auto; width: 300px; }
}

#contact-form {
  fieldset {
    border: 0;

    &#identity,
    &#message { display:inline-block; }

    &#identity{ min-width: 200px; }

    &#message { width: calc(100% - 28px); max-width: 380px; height: 100%; vertical-align: top; }

    input,
    textarea { border-radius: 0; -webkit-appearance: none; }
  }

  fieldset#identity,
  fieldset#message {
    label,
    input { display: block; }

    input,
    textarea {
      background: transparent;
      border: 0;
      border-bottom: 1px solid $dg;
      font-family: sans-serif;
      font-size: 14px;

      outline: none;

      @media($bp-phone) { font-size: 16px; }

      &:focus { border-width: 2px; animation: rotateBorderHue 3s infinite linear; }
    }

    input {
      margin: 10px 0 35px;
      padding-bottom: 5px;
      width: 100%;
    }

    textarea {
      border-left: 1px solid $dg;
      line-height: 20px;
      min-height: 155px;
      padding: 10px;
      resize: vertical;
      width: calc(100% - 20px);
    }
  }

  .g-recaptcha {
    display: inline-block;
  }

  .submit {
    background-color: $dg;
    border: 0;
    color: $white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 100;
    height: 76px;
    letter-spacing: 2px;
    margin: 1px 0 1px 30px;
    padding: 0 30px;
    text-transform: uppercase;
    vertical-align: top;
    width: 270px;

    &:focus { outline: none; }

    &:hover {
      animation: rotateBackgroundHue 3s infinite linear;
      cursor: pointer;
    }
  }

  @media($bp-phone) {
    .submit,
    .g-recaptcha {
      display: block;
      margin: 0 auto;
      width: 300px;
    }

    .g-recaptcha { margin: 0 auto 1em; }
  }
}
