
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
@import url(https://fontlibrary.org/face/fantasque-sans-mono);

@mixin butler {
  font-family: 'Butler';
}

@mixin fantasque {
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
}

@mixin libre {
  font-family: 'Libre Baskerville';
}

@mixin libreBold {
  @include libre;
  font-weight: bold;
}

@font-face {
  font-family: 'Butler';
  src: url('/assets/butler/Butler_Ultra_Light.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Butler';
  src: url('/assets/butler/Butler_Light.otf');
  font-weight: 200;
  font-weight: lighter;
}

@font-face {
  font-family: 'Butler';
  src: url('/assets/butler/Butler_Regular.otf');
  font-weight: 400;
  font-weight: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/assets/butler/Butler_Bold.otf');
  font-weight: 700;
  font-weight: bold;
}

@font-face {
  font-family: 'Butler';
  src: url('/assets/butler/Butler_ExtraBold.otf');
  font-weight: 800;
  font-weight: bolder;
}

@font-face {
  font-family: 'Butler';
  src: url('/assets/butler/Butler_Black.otf');
  font-weight: 900;
}