@import 'variables';
@import 'fonts';
@import 'animations';

.project {

  animation: rotateBorderHue 3s infinite linear;
  background: $white;
  border: 2px solid $dg;
  display: inline-block;
  height: 280px;
  margin: 1em;
  max-width: calc(316px - 2em);
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;

  .title { @include fantasque; animation: rotateHue 3.25s infinite linear; color: $dg; }
  .body { display: none; opacity: 0; transition: opacity 2s;}

  &:hover { cursor: pointer; }

  @media(max-width: 767px) { display: block; margin: 1em auto; }

  &.active {
    height: auto;
    max-width: calc(100% - 2em);
    width: 100%;

    .title { font-size: 2em; }

    .body {
      display: block;
      line-height: 1.5em;
      opacity: 1;
      padding: 1em;
      text-align: center;

      p { text-align: justify; }
      .gh { text-align: center; }
    }
  }

  &::after {
    animation: rotateBackgroundHue 3s infinite linear reverse;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: top .25s, left .25s;
    width: 100%;
    z-index: -1;
  }

  &.active::after,
  &:hover::after { left: 15px; top: 15px; transition: left .25s, top .25s; }

  img { display: block; margin: 1em auto; max-width: 250px; }

  p a {
    @include copy_link;
    z-index: 1;
  }

  a {
    .icon { color: $mg; fill: $mg; }

    &:hover .icon { animation: rotateFillHue 3.25s infinite linear; }
  }
}
