///////////////////////////////////////////////////////////////////
//  _____ _           _   ____                   ____       _    //
// |_   _| |__   __ _| |_|  _ \  __ _ _ __ _ __ |  _ \ __ _| |_  //
//   | | | '_ \ / _` | __| | | |/ _` | '__| '_ \| |_) / _` | __| //
//   | | | | | | (_| | |_| |_| | (_| | |  | | | |  __/ (_| | |_  //
//   |_| |_| |_|\__,_|\__|____/ \__,_|_|  |_| |_|_|   \__,_|\__| //
//                                                               //
///////////////////////////////////////////////////////////////////
@import 'variables';
@import 'fonts';
@import 'animations';

* { @include butler; }
body { background: #efefef; color: $dg; max-width: 960px; margin: 0 auto;}

.hero {
  margin: 15% auto 0;
  max-width: 800px;
  font-size: 3em;
  .hero--title { @include libreBold; margin-bottom: .25em; }
  .hero--subtilte { margin-top: .25em; }
}

nav {
  .navigation {
    list-style:none;
    margin: 1em auto;
    padding: 0;
    text-align: center;
    
    .nav-item {
      @include libreBold;
      display:inline-block;
      margin: 35px 1em 0;
      height:70px;
      vertical-align: top;

      a {
        padding: 1em;
        text-decoration: none;
        color: $dg;

        &:hover {
          border-bottom: 2px solid $dg;
        }

        &.logo {
          @include libreBold;

          display: block;
          vertical-align: top;
          text-decoration: none;
          color: $dg;

          width: 70px;
          margin-top:-35px;
          
          svg #border{ transform: rotateZ(-90deg); transform-origin: center; stroke: $dg;}
          &:hover { 
            border-bottom: none; 
            svg #border {
              stroke-dasharray: 37;
              animation: rotate 3s infinite linear;
              circle {animation: rotateHue 4s infinite alternate;}
            }
          }
        }
      }
          
    }
  }
}

.footer {
  .left  { float: left;  }
  .right { float: right; }
}