///////////////////////////////////////////////////////////////////
//  _____ _           _   ____                   ____       _    //
// |_   _| |__   __ _| |_|  _ \  __ _ _ __ _ __ |  _ \ __ _| |_  //
//   | | | '_ \ / _` | __| | | |/ _` | '__| '_ \| |_) / _` | __| //
//   | | | | | | (_| | |_| |_| | (_| | |  | | | |  __/ (_| | |_  //
//   |_| |_| |_|\__,_|\__|____/ \__,_|_|  |_| |_|_|   \__,_|\__| //
//                                                               //
///////////////////////////////////////////////////////////////////
//= require evil-icons
@import 'variables';
@import 'fonts';
@import 'animations';

* { @include butler; }
body { background: $white; color: $dg; max-width: 960px; margin: 0 auto;}
.cf {clear:both !important;}

.hero {
  font-size: 3em;
  margin: 4em auto 0;
  max-width: 660px;
  padding: 0 0.5em;

  .hero--title { @include libreBold; margin-bottom: .25em; }
  .hero--subtitle { margin-top: .25em; }

  @media(max-width: 767px) { margin-top: 0; }
  @media(max-width: 321px) { padding: 0; }
}

nav {
  .navigation {
    list-style:none;
    margin: 1em auto;
    padding: 0;
    text-align: center;

    section { display:inline-block; }
    
    .nav-item {
      @include libreBold;
      display:inline-block;
      margin: 35px 1em 0;
      vertical-align: top;

      a {
        @include libreBold;
        padding: 1em;
        text-decoration: none;
        color: $dg;

        &:hover {
          border-bottom: 2px solid $dg;
          animation: rotateHue 2s infinite linear, rotateBorderHue 2s infinite reverse linear;
        }

        &.logo {
          @include libreBold;

          display: block;
          vertical-align: top;
          text-decoration: none;
          color: $dg;

          width: 70px;
          margin-top:-40px;
          
          svg #border{ 
            transform: rotateZ(-90deg);
            transform-origin: center;
            stroke: $dg;
          }
          &:hover { 
            border-bottom: none; 
            svg #border {
              stroke-dasharray: 37;
              animation: rotate 2s 1 cubic-bezier(0.44, 0.17, 1, 1), rotate 2s infinite linear 2s;
              circle { animation: rotateStrokeHue 4s infinite; }
            }
            svg #text { animation: rotateFillHue 3s infinite reverse linear; }
          }
        }
      }
          
    }

    @media($bp-phone) {
      section { width: 33%; }
      .nav-item {
        margin-left: auto; margin-right: auto;
        a.logo { 
          margin-top: -70px;
          svg #border { animation: rotateStrokeHue 4s infinite; }
        }
      }
    }
  }
}

.container { max-width: 640px; margin: 0 auto; }

.footer {
  .social {
    border-top: 1px solid $dg;
    animation: rotateBorderHue 3s infinite linear;

    padding-top: 10px;
    margin: 35px auto 0;
    max-width: 300px;
    text-align: center;
    a {
      text-decoration: none;
      &:hover .icon { animation: rotateFillHue 3s infinite linear; }
    }
  }

  .left  { float: left;  }
  .right { float: right; }
}
