// base16
$black: #181818;
$dg: #282828;
$mg: #585858;
$lg: #d8d8d8;
$white: #f8f8f8;

$red   : #ab4642;
$orange: #dc9656;
$yellow: #f7ca88;
$green : #a1b56c;
$blue  : #86c1b9;
$indigo: #7cafc2;
$purple: #ba8baf;

$r : $red;
$o : $orange;
$y : $yellow;
$g : $green;
$b : $blue;
$i : $indigo;
$v : $purple;

// media queries
$bp-phone: "max-width: 767px";

// mixins
@mixin copy_link {
  color: $mg;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    animation: none;
    color: $white;
    &::before { height: 115%; }
  }

  &::before {
    animation: rotateBackgroundHue 6s infinite linear;
    bottom: 0;
    content: '';
    height: 3px;
    position: absolute;
    transition: height .25s;
    width: 100%;
    z-index: -1;
  }
}
