// base16
$black: #181818;
$dg: #282828;
$mg: #585858;
$lg: #d8d8d8;
$white: #f8f8f8;

$red   : #ab4642;
$orange: #dc9656;
$yellow: #f7ca88;
$green : #a1b56c;
$blue  : #86c1b9;
$indigo: #7cafc2;
$purple: #ba8baf;

$r : $red;
$o : $orange;
$y : $yellow;
$g : $green;
$b : $blue;
$i : $indigo;
$v : $purple;